@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/*------------------------------------------------------------------------------
    SPACE
*/
#home {
    /* grid-column: 2/3; */
    margin-top: 30rem;
    position: relative;
    height: 30rem;
}
#home #imgwrap { 
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
#home img {
    position: relative;
    top: -15px;
    width: 100%;
}
#home p {
    position: absolute;
    z-index: 1;
    padding: 1rem 1.5rem;
}
#home #p1 {
    top: -15rem;
    left: 10rem;
}
#home #p2 {
    /* margin-top: 27rem;
    margin-left: 33rem; */
    width: 18rem;
    top: 440px;
    left: 500px;
}

/*------------------------------------------------------------------------------
    STYLE
*/
#home {
    border-top: 0.3rem solid black;
    border-bottom: 0.3rem solid black;

    /* Make border look hand drawn */
    border-top-left-radius: 5rem 0.1rem;
    border-top-right-radius: 15rem 0.2rem;
    border-bottom-right-radius: 5rem 0.2rem;
}
#home img {
    /* To match container corner, else img corner sticks out */
    border-bottom-right-radius: 10rem 0.5rem;
}
#home p {
    font-family: "Overlock", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    border: 0.2rem solid black;
}
#home #p1 {
    border: 0;
    font-size: 1.5rem; 
}

/*------------------------------------------------------------------------------
    COLOR
*/
#home {
    background-color: rgb(255, 224, 189);
}
#home img {
    opacity: 60%;
}
#home p {
    background-color: white;
}