@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/*------------------------------------------------------------------------------
    SPACE
*/
#root {
    display: grid;
    grid-template-columns: 1fr 60rem 1fr;
}
#app {
    grid-column: 2/3;
    width: 100%;
}

/*------------------------------------------------------------------------------
    STYLE
*/
h1, h2, p {
    font-family: "Overlock", sans-serif;
}

/*------------------------------------------------------------------------------
    COLOR
*/
#root {
    background-color: darkslategray
}
#app {
    background-color: white;
}
